h1 {
  color: white;
  font-weight: 00;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.Tabs{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding-bottom: 20px;
}
.Tab{
}

a{
  color:whitesmoke;
  text-decoration: none;
  text-transform: uppercase;

}

.Tab a {
  font-size: 12px;
}
.inactive{
  color: rgba(255,255,255,.3);
}
.active {
  border-bottom: solid 1.2px lightblue;
  padding-bottom: 10px;

}

select, input, textarea{
  width: 80%;
  text-align-last: center;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  border:none;
  color: whitesmoke;
  font-size: 13px;
  text-align: center;

}
select, input{
  height: 30px;
  text-transform: uppercase;
}

select, textarea{
  background-color: rgba(255,255,255,.2);

}
select, textarea, input:focus{
  outline: none;
  border: none;
}

select:hover{
  background-color: rgba(255,255,255,.4);
  /* transition: all .2s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; */
}
textarea:focus{
  background-color: rgba(255,255,255,.4);
  /* transition: all .2s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; */
}

input:hover{
  opacity: .8;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}
.textarea {
  width: 80%;
  display: inline-block;
}
textarea {
  font-size: 12px;
  font-weight: 100;
  margin-top: 9px;
  height: 63px;
  width: -webkit-fill-available;
  padding: 10px;
}

::placeholder{
  color: whitesmoke;
  opacity: 1;
}

select {
  letter-spacing: 3px;
    font-weight: 600;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1255/caret--down-15.png);
  background-position: right;
  background-repeat: no-repeat;

}

input {
  background: lightblue;
  color: white;
  font-weight: 700;
  margin-top: 5px;
}

.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 4px;
  border-top: solid 1px rgba(255,255,255,.3);
  margin-top: 38px;
}

.footer a{
  font-weight: 350;
  font-size: 7px;
  letter-spacing: 2px;
}
